<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>333732623951-e3tcjlnb9jlhlha556rb2d7g8qh2eo90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333732623951-e3tcjlnb9jlhlha556rb2d7g8qh2eo90</string>
	<key>API_KEY</key>
	<string>AIzaSyDsQgTPSgtRe1x1WNceJZJ1WDOntgHD7OY</string>
	<key>GCM_SENDER_ID</key>
	<string>333732623951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.mprog.Diederick-Calkoen-Project</string>
	<key>PROJECT_ID</key>
	<string>diederick-calkoen-project</string>
	<key>STORAGE_BUCKET</key>
	<string>diederick-calkoen-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:333732623951:ios:481982c312542221</string>
	<key>DATABASE_URL</key>
	<string>https://diederick-calkoen-project.firebaseio.com</string>
</dict>
</plist>